@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html,
#root {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Commissioner", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* track */

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* hendle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* hendle on hover */

::-webkit-scrollbar-track:hover {
  background: #555;
}

a {
  margin-right: 16px;
  margin-left: 16px;
  color: black;
  text-decoration: none;
  font-size: 16px;
}
